TELEGRAM_TOKEN=7828732038:AAH_NaNabkgZaY2j5wG51PqTBiFaDK7Z-KY
OPENAI_API_KEY=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
GEMINI_API_KEY=AIzaSyCXUbCaNov_PKdHk309S5ZBDNdcwhWyL0c